<div class="row">
  <div class="col">Navbar</div>
</div>

<div class="row">
  <div class="col">
    <div class="container">
      Main content
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>
    </div>
  </div>
</div>
  
